@model List<Product> 

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Product Id
            </th>
            <th>
                Product Name
            </th>
            <th>
                Product Price
            </th>
            <th>
                Product Image
            </th>
            <th>
                Menu
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
       {
            <tr>
                <td>
                    @product.Id
                </td>
                <td>
                    @product.Name
                </td>
                    <td>
                    $ @product.Price
                   </td>
                <td>
                    <a asp-controller="Product" asp-action="Detail" 
                    asp-route-id="@product.Id"><img src="@product.Image" width="100" height="100"></a>
         
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Product" asp-action="Detail" 
                    asp-route-id="@product.Id">Detail</a>
                </td>
            </tr>
        } 
    </tbody>
</table>