@model web9.Models.Employee

<h1>Name: @Model.Name</h1>
<h1>Salary: @Model.Salary ($)</h1>
<h1>Address: @Model.Address</h1>
<h1>Position: @Model.Position</h1>
<h1>Birthday: @Model.Birthday.ToShortDateString()</h1>
