@model web3.Models.Student

<h1>Student Id: @Model.Id</h1>
<h1>Student Name: @Model.Name</h1>
<h1>Student Age: @Model.Age</h1>
<h1>Student Grade: @Model.Grade</h1>
<h1>Student Avatar: </h1>
<img src="@Model.Image">
