@model List<Student>

@if (TempData["Message"] != null) {
    <h5 class="alert alert-info">@TempData["Message"]</h5>
}

@if (Model.Count == 0) {
    <h2 class="alert alert-danger">No student in DB. Add student first !</h2>
    <a class="btn btn-success" asp-controller="Student" asp-action="Add">
        Add
    </a>
} 
else {
    <table class="table-bordered text-center mt-3 mb-3 bg-light">
        <tr>
            <th class="h3 text-primary" colspan="4">Student List</th>
            <th>
                <a class="btn btn-success" asp-controller="Student" asp-action="Add">
                    Add
                </a>
            </th>
        </tr>
        <tr>
            <th>Student Id</th>
            <th>Student Name</th>
            <th>Student DoB</th>
            <th>Student Image</th>
            <th>Menu</th>
        </tr>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.SId</td>
                <td>@student.Name</td>
                <td>@student.Birthday.ToShortDateString()</td>
                <td>
                    <a asp-controller="Student" asp-action="Detail" asp-route-id="@student.Id">
                        <img src="@student.Image" width="100" dsds height="100" />
                    </a>
                </td>
                <td>
                    <a class="btn btn-warning" asp-controller="Student" asp-action="Edit" asp-route-id="@student.Id">
                        Edit
                    </a>
                    <a class="btn btn-danger" asp-controller="Student" asp-action="Delete" asp-route-id="@student.Id"
               onclick="return confirm('Are you sure to delete this student?');">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </table>
}

