<!--- Lấy dữ liệu gửi từ Controller bằng Razor -->

<h6>Tên : @ViewBag.Ten</h6>
<h6>Thành phố: @ViewBag.City</h6>
<h6>Tuổi: @ViewBag.Tuoi</h6>

<table class="table table-bordered">
    <tr>
        <th>Diem</th>
        <td>@ViewData["Diem"]</td>
    </tr>
    <tr>
        <th>Ket qua</th>
        <td>@ViewData["Pass"]</td>
    </tr>
      <tr>
        <th>Ky Tu</th>
        <td>@ViewData["KyTu"]</td>
    </tr>
    <tr>
        <th>Thang</th>
        <td>@ViewData["Month"]</td>
    </tr>
</table>